---
layout: layout
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div class="title">
    <h2 class="entry-title"><a href="@Model.Page.Url" rel="bookmark"></a>@Model.Page.Title</h2>
    <div class="entry-byline">
        <span>Posted on @Model.Page.Date.ToString( "g" )</span>
    </div>
    <div class="entry-meta">
        <p>
            Posted In:
            @{
                foreach( string category in Model.Page.Categories )
                {
                    @:<a href="/category/@category">@category</a>,
                }
            }
        </p>
        <p>
            Tagged:
            @{
                foreach( string tag in Model.Page.Tags )
                {
                    @:<a href="/tag/@tag">@tag</a>,
                }
            }
        </p>
    </div>
</div>

<div class="entry-content">
    @Raw( Model.Content )
</div>
<nav id="posts-nav" class="paged-navigation contain">
    <div class="nav-older">
        @if( Model.Previous != null )
        {
            <a href="@Model.Previous.Url" title="Previous Post: @Model.Previous.Title">&larr; @Model.Previous.Title</a>
        }
    </div>
    <div class="nav-newer">
        @if( Model.Next != null )
        {
            <a href="@Model.Next.Url" title="next Post: @Model.Next.Title">@Model.Next.Title &rarr; </a>
        }
    </div>
    <div class="clear">&nbsp;</div>
</nav>


    @if( Model.Comments )
    {
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'NAME';
            // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    }
