---
layout : layout
---

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

@{
    object tagName = Model.Page.Bag["tag"];
}

<article id="@Model.Page.Id" class="contain post type-post status-publish format-standard hentry">
    <div class="title">
        <h2 class="entry-title"><a href="@Model.Page.Url" rel="bookmark">Tag: @tagName</a></h2>
    </div>

    <div class="entry-content">
        <ul>
            @{
                foreach( var cat in @Model.Site.Tags )
                {
                    if( cat.Name.Equals( tagName ) )
                    {
                        foreach( var post in cat.Posts )
                        {
                            @:
                            <li><a href="@post.Url">@post.Title</a></li>
                        }
                    }
                }
            }
        </ul>
    </div>
</article>

